{% extends 'base.html' %} 
{% block css %}

<style>
.invalidinfo{
  border-color: #dc3545 !important;
  padding-right: calc(1.5em + .75rem) !important;
}

.validinfo {
    border-color: #28a745 !important;
    padding-right: calc(1.5em + .75rem) !important;
}

.error-message {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}  
  div#updatedMsg {
    position: relative;
  }

  div#updatedMsg a {
    position: absolute;
    right: 10px;
  }
  div#updatedMsg a i {
    color: #fff;
  }
</style>
{% endblock %} 

{% block body %}

<div class="page-content">
  <div class="holder breadcrumbs-wrap mt-0">
    <div class="container">
      <ul class="breadcrumbs">
        <li><a href="{% url 'Home:Home' %}">Home</a></li>
        <li><span>Set new password</span></li>
      </ul>
    </div>
  </div>
  <div class="holder">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-18 col-lg-12">
          <h2 class="text-center">Set new password</h2>
          <div class="form-wrapper">
            <p>
              To access your whishlist, address book and contact preferences and
              to take advantage of our speedy checkout, create an account with
              us now.
            </p>

            <!-- Error message -->

            {% if msg %}

            <div id="updatedMsg" class="alert {{color}}">
              {{ msg }}
              <a href="#" onclick="closeWin()">
                <i class="icon-close-bold"></i>
              </a>
            </div>

            {% endif %} {% if messages %} {% for message in messages %}
            <div id="updatedMsg" class="alert alert-{{message.tags}}">
              {{ message }}
              <a href="#" onclick="closeWin()">
                <i class="icon-close-bold"></i>
              </a>
            </div>
            {% endfor %} 
            
            {% endif %}

            <form onsubmit="return updatepasswordfunc()" method="POST" 
            action="{% url 'Authentication:setnewpassword' uidb64 token %}">
              {% csrf_token %}

              <div class="form-group">
                <input
                  onKeyUp="passwordvalue()"
                  onkeypress="passwordvalue()"
                  id="password"
                  type="password"
                  class="form-control"
                  placeholder="New password"
                  name="password"
                  minlength="6"
                  maxlength="32"
                  required
                />
                <div class="error-message"> <span id="passwordError"> </span> </div>
              </div>
              <div class="form-group">
                <input
                  onKeyUp="passwordvmatch()"
                  onkeypress="passwordvmatch()"
                  id = "confirmPassword"
                  minlength="6"
                  maxlength="32"
                  type="password"
                  class="form-control"
                  placeholder="Confirm new password"
                  name="Confirmpassword"
                  required
                />
                <div class="error-message"> <span id="passwordConfirmError"> </span> </div>
              </div>

              <div class="text-center mt-5">
                <button type="submit" class="btn">Password Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
  function closeWin() {
    document.getElementById("updatedMsg").setAttribute("style", "display:none");
  }


var password = document.getElementById('password'); // Get password input element
var errormessage = document.getElementById('passwordError') // Error message for password
var confirmPassword = document.getElementById('confirmPassword'); //Get confirm password input element
var confirmError = document.getElementById('passwordConfirmError'); // Error message for confirm password

// Password validation function
function passwordvalue(){
 
 if(password.value.length > 0 && password.value.length < 6){ // set error message
   invalidatefunc(password)
   errormessage.innerText = 'Your password must be 6 digits or longer' 
   
 }else if(password.value.length == 0){ // set error message
   invalidatefunc(password)
   errormessage.innerText = 'please enter your password'
 }else if(password.value.length > 5){
   validatefunc(password)
   errormessage.innerText ="";
 }else if(password.value === confirmPassword.value) {  // validate password
   validatefunc(password)
   validatefunc(confirmPassword)
   errormessage.innerText ="";
   confirmError.innerText = ""
 }

 if(password.value !== confirmPassword.value){ // password doesn't match 
   invalidatefunc(confirmPassword)
   confirmError.innerText = "password don't match"
 }
}

// Confirm Password Match function
function passwordvmatch(){

 if(confirmPassword.value.length === 0){ // Set  error message
   invalidatefunc(confirmPassword)
   confirmError.innerText = "Please enter your password again."
 }else if(password.value !== confirmPassword.value){ // password doesn't match set a error message
   invalidatefunc(confirmPassword)
   confirmError.innerText = "password don't match"
 }else if(password.value === confirmPassword.value){ // if password matches
   confirmError.innerText = ''
   validatefunc(confirmPassword)

 }

}
function updatepasswordfunc(){
  let subpassword = password.classList.contains('invalidinfo')
  let subconfirmPassword = confirmPassword.classList.contains('invalidinfo')

  if(subpassword == true || subconfirmPassword == true){
      return false;
  }else{
      return true;
  }
}

// input validation function
function validatefunc(name){
  name.classList.remove('invalidinfo')
  name.classList.add('validinfo')
}

// input validation function
function invalidatefunc(name){
  name.classList.remove('validinfo')
  name.classList.add('invalidinfo')
}



</script>

{% endblock %}
